<form name="handoverCreateForm" role="form" novalidate class="form-validation">
    <div class="modal-header">
        <h4 class="modal-title">
            <span>新建检测单</span>
        </h4>
    </div>
    <div class="modal-body">
        <uib-tabset class="tab-container tabbable-line">
            <uib-tab heading="基本信息">
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label class="control-label">开始日期  --  完成日期</label>
                            <input date-range-picker type="text" options="vm.dateRangeOptions"
                                   min="vm.dateRangeOptions.min"
                                   max="vm.dateRangeOptions.max"
                                   class="form-control date-picker"
                                   ng-model="vm.dateRangeModel" />
                        </div>
                    </div>

                    <div class="col-sm-6">
                        <div class="form-group form-md-line-input form-md-floating-label no-hint">
                            <input class="form-control" type="text" name="factoryNum" ng-class="{'edited':vm.standard.factoryNum}" ng-model="vm.standard.factoryNum" required>
                            <label>出厂编号</label>
                        </div>
                    </div>
                </div>
                <pre>{{vm.vMTypes}}</pre>
            </uib-tab>
            <uib-tab heading="选中的仪器">
                <b class="badge badge-primary"></b>
                <div class="form-group last">
                    <label class="control-label col-md-3">Grouped Options</label>
                    <div class="col-md-9">
                        <select multiple="multiple" class="multi-select" id="my_multi_select2" name="my_multi_select2[]">
                            <optgroup label="NFC EAST">
                                <option>Dallas Cowboys</option>
                                <option>New York Giants</option>
                                <option>Philadelphia Eagles</option>
                                <option>Washington Redskins</option>
                            </optgroup>
                            <optgroup label="NFC NORTH">
                                <option>Chicago Bears</option>
                                <option>Detroit Lions</option>
                                <option>Green Bay Packers</option>
                                <option>Minnesota Vikings</option>
                            </optgroup>
                            <optgroup label="NFC SOUTH">
                                <option>Atlanta Falcons</option>
                                <option>Carolina Panthers</option>
                                <option>New Orleans Saints</option>
                                <option>Tampa Bay Buccaneers</option>
                            </optgroup>
                            <optgroup label="NFC WEST">
                                <option>Arizona Cardinals</option>
                                <option>St. Louis Rams</option>
                                <option>San Francisco 49ers</option>
                                <option>Seattle Seahawks</option>
                            </optgroup>
                        </select>
                    </div>
                </div>
                
            </uib-tab>
        </uib-tabset>
    </div>
    <div class="modal-footer">
        <button ng-disabled="vm.saving" type="button" class="btn btn-default" ng-click="vm.cancel()">@L("Cancel")</button>
        <button type="submit" button-busy="vm.saving" busy-text="@L("SavingWithThreeDot")" class="btn btn-primary blue" ng-click="vm.save()" ng-disabled="handoverCreateForm.$invalid"><i class="fa fa-save"></i> <span>@L("Save")</span></button>
    </div>
</form>


