<form name="handoverCreateForm" role="form" novalidate class="form-validation">
    <div class="modal-header">
        <h4 class="modal-title">
            <span>新建检测单</span>
        </h4>
    </div>
    <div class="modal-body">
        <uib-tabset class="tab-container tabbable-line">
            <uib-tab heading="基本信息">
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label class="control-label">开始日期  --  完成日期</label>
                            <input date-range-picker type="text" options="vm.dateRangeOptions"
                                   min="vm.dateRangeOptions.min"
                                   max="vm.dateRangeOptions.max"
                                   class="form-control date-picker"
                                   ng-model="vm.dateRangeModel" />
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label class="control-label">业务类型</label>
                            <select class="form-control"
                                    ng-options="x.value as x.name for x in vm.vMTypes"
                                    ng-model="vm.test.vocationalWorkType"></select>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label class="control-label">检测要素</label>
                            <select class="form-control"
                                    ng-model="vm.test.meteorType_ID"
                                    ng-options=" item.id as item.meteor for item in vm.meteors">
                                <option value="" select>- 请选择 -</option>
                            </select>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label class="control-label">标准器</label>
                            <ui-select ng-model="vm.test.installation_ID" set-timeout>
                                <ui-select-match placeholder="搜索:名称、等级">
                                    <span ng-bind="$select.selected.installation"></span>
                                </ui-select-match>
                                <ui-select-choices repeat="item.id as item in (installations | filter: $select.search) track by item.id">
                                    <span ng-bind="item.installation"></span>
                                </ui-select-choices>
                            </ui-select>
                        </div>
                    </div>
                    <div class="col-sm-12">
                            <div class="form-group">
                                <label class="control-label">备注</label>
                                <textarea class="form-control" rows="3"
                                          ng-model="vm.test.mark"></textarea>
                            </div>
                        </div>
                    </div>
                <pre>{{vm.test}}</pre>
                <pre>vm.instrumentTests:{{vm.instrumentTests}}</pre>
            </uib-tab>
            <uib-tab heading="选中的仪器">
                <div class="row">
                    <b class="badge badge-primary"></b>
                    <div class="form-group last">
                        <select id='optgroup'
                                multiple='multiple'
                                class="multi-select"
                                multi-select></select>
                    </div>                   
                </div>
            </uib-tab>
        </uib-tabset>
    </div>
    <div class="modal-footer">
        <button ng-disabled="vm.saving" type="button" class="btn btn-default" ng-click="vm.cancel()">@L("Cancel")</button>
        <button type="submit" button-busy="vm.saving" busy-text="@L("SavingWithThreeDot")" class="btn btn-primary blue" ng-click="vm.save()" ng-disabled="handoverCreateForm.$invalid"><i class="fa fa-save"></i> <span>@L("Save")</span></button>
    </div>
</form>


