<div ng-controller="common.views.BD.receiveOrder.orderItems as vm"
     novailated
     name="ordItemdsForm"
     role="form"
     novalidate>
    <!-- END   登记仪器 -->
    <div class="col-md-6 col-sm-12">
        <!-- BEGIN PORTLET-->
        <div class="portlet light tasks-widget bordered" style="min-height:500px">
            <div class="portlet-title">
                <div class="caption">
                    <i class="icon-share font-dark hide"></i>
                    <span class="caption-subject font-dark bold uppercase">仪器列表 INSTRUMENT LIST</span>
                </div>
                <div class="actions">
                    <div class="btn-group">
                        <button type="button" class="btn btn-success" ng-click="vm.getAllInstruments()">刷新列表</button>
                        <button type="button"
                                class="btn btn-success"
                                data-toggle="dropdown"
                                data-hover="dropdown"
                                drop-delay="1000"
                                data-close-others="true">
                            <i class="fa fa-angle-down"></i>
                        </button>
                        <ul class="dropdown-menu pull-right hold-on-click" role="menu">
                            <li>
                                <a href="javascript:;"> 按状态排序 </a>
                            </li>
                            <li>
                                <a href="javascript:;"> 按要素 </a>
                            </li>
                            <li>
                                <a href="javascript:;"> 按时间 </a>
                            </li>
                            <li class="divider"> </li>
                            <li>
                                <a href="javascript:;"> 跟踪标记 </a>
                            </li>
                        </ul>
                    </div>
                    <div class="btn-group">
                        <a class="btn btn-sm blue btn-outline" href="javascript:;"
                           data-toggle="dropdown"
                           data-hover="dropdown"
                           data-close-others="true">
                            按要素
                            <i class="fa fa-angle-down"></i>
                        </a>
                        <div class="dropdown-menu hold-on-click dropdown-checkboxes pull-right">
                            <label class="mt-checkbox mt-checkbox-outline">
                                <input type="checkbox" /> 全部
                                <span></span>
                            </label>
                            <label class="mt-checkbox mt-checkbox-outline">
                                <input type="checkbox" /> 温度
                                <span></span>
                            </label>
                            <label class="mt-checkbox mt-checkbox-outline">
                                <input type="checkbox" checked="" /> 湿度
                                <span></span>
                            </label>
                            <label class="mt-checkbox mt-checkbox-outline">
                                <input type="checkbox" /> 温湿度
                                <span></span>
                            </label>
                            <label class="mt-checkbox mt-checkbox-outline">
                                <input type="checkbox" checked="" /> 气压
                                <span></span>
                            </label>
                            <label class="mt-checkbox mt-checkbox-outline">
                                <input type="checkbox" /> 雨量
                                <span></span>
                            </label>
                        </div>
                    </div>
                    <div class="btn-group">
                        <a class="btn btn-sm blue btn-outline" href="javascript:;" data-toggle="dropdown" data-hover="dropdown" data-close-others="true">
                            按状态
                            <i class="fa fa-angle-down"></i>
                        </a>
                        <div class="dropdown-menu hold-on-click dropdown-checkboxes pull-right">
                            <label class="mt-checkbox mt-checkbox-outline">
                                <input type="checkbox" /> 全部
                                <span></span>
                            </label>
                            <label class="mt-checkbox mt-checkbox-outline">
                                <input type="checkbox" /> 待接收
                                <span></span>
                            </label>
                            <label class="mt-checkbox mt-checkbox-outline">
                                <input type="checkbox" checked="" /> 移交中
                                <span></span>
                            </label>
                            <label class="mt-checkbox mt-checkbox-outline">
                                <input type="checkbox" /> 检测中
                                <span></span>
                            </label>
                            <label class="mt-checkbox mt-checkbox-outline">
                                <input type="checkbox" /> 已完成
                                <span></span>
                            </label>
                            <label class="mt-checkbox mt-checkbox-outline">
                                <input type="checkbox" /> 异常结束
                                <span></span>
                            </label>
                        </div>
                    </div>
                </div>
            </div>
            <div class="portlet-body">
                <div class="task-content">
                    <div class="scroller" style="height: 300px;" data-always-visible="1" data-rail-visible1="1">
                        <!-- START TASK LIST -->
                        <ul class="task-list">
                            <li ng-repeat="item in vm.instruments">
                                @*<div class="task-checkbox">
                                        <label class="mt-checkbox mt-checkbox-single mt-checkbox-outline">
                                            <input type="checkbox" class="checkboxes" value="1" />
                                            <span></span>
                                        </label>
                                    </div>*@
                                <div class="task-title">
                                    <span class="task-title-sp"> {{item.name}}  {{item.model}}-{{item.scope}}</span>
                                    <span class="label label-sm label-info">{{item.sn}}</span>
                                    <span class="task-bell">
                                        <i class="fa fa-bell-o"></i>
                                    </span>
                                </div>
                                <div class="task-config">
                                    <div class="task-config-btn btn-group">
                                        <button class="btn btn-sm btn-info" ng-click="vm.addInstrumentToReceive(item)">
                                            <i class="fa fa-plus"></i>
                                        </button>
                                    </div>
                                </div>
                            </li>
                        </ul>
                        <!-- END START TASK LIST -->
                    </div>
                </div>
                <div class="scroller-footer">
                    <div class="btn-arrow-link pull-right">
                        <a href="javascript:;">查看全部--仪器管理</a>
                        <i class="icon-arrow-right"></i>
                    </div>
                </div>
            </div>
        </div>
        <!-- END PORTLET-->
    </div>
    <!-- END   检测项目 -->
    <div class="col-md-6 col-sm-12">
        <div class="portlet light tasks-widget bordered" style="min-height:500px">
            <div class="portlet-title">
                <div class="caption">
                    <i class="icon-share font-dark hide"></i>
                    <span class="caption-subject font-dark bold uppercase">接收单号：{{vm.receive.number}} {{vm.receive.unitName}}</span>
                </div>
            </div>
            <div class="portlet-body">
                <div class="task-content">
                    <div class="scroller" style="height: 300px;" data-always-visible="1" data-rail-visible1="1">
                        <!-- START TASK LIST -->
                        <ul class="task-list">
                            <li ng-repeat="item in vm.receive.registedInstruments">
                                <div class="task-title">
                                    <span class="task-title-sp"> {{item.name}}  {{item.model}}-{{item.scope}}</span>
                                    <span class="label label-sm label-info">{{item.sn}}</span>
                                    <span class="task-bell">
                                        <i class="fa fa-bell-o"></i>
                                    </span>
                                </div>
                                <div class="task-config">
                                    <div class="task-config-btn btn-group">
                                        <button class="btn btn-sm btn-danger" ng-click="vm.removeInstrumentFromReceive(item)">
                                            <i class="fa fa-trash"></i>
                                        </button>
                                    </div>
                                </div>
                            </li>
                        </ul>
                        <!-- END START TASK LIST -->
                    </div>
                </div>
            </div>
        </div>
    </div>
    @*<pre>vm.receive:{{vm.receive}}{{vm.result}}{{vm.test}}</pre>*@
    <div class="form-actions">
        <div class="row">
            <div class="col-md-offset-3 col-md-9">
                <button ng-disabled="vm.saving" type="button" class="btn btn-default" button-busy="vm.saving" ng-click="vm.goOrderHeader()">
                    <i class="fa fa-arrow-left"></i> <span>上一步</span>
                </button>
                <button type="submit" button-busy="vm.saving" busy-text="@L("SavingWithThreeDot")"
                        class="btn btn-primary green" ng-click="vm.goCheckItems()"
                        ng-disabled="ordItemdsForm.$invalid">
                    <span>下一步</span><i class="fa fa-arrow-right" style="margin-left:10px;"></i>
                </button>

            </div>
        </div>
    </div>
</div>