<div ng-controller="common.views.BD.reciveOrder.checkItems as vm">
    <div class="row">
        <div class="portlet light bordered col-md-8 col-sm-12">
            <div class="portlet-title">
                <div class="caption">
                    <i class="icon-speech font-green"></i>
                    <span class="caption-subject bold font-red uppercase">待检仪器登记</span>
                </div>
                <div class="actions">
                    <button @*ng-disabled="vm.loading"*@ type="button" class="btn btn-default" ng-click="vm.goPrint()">
                        <i class="fa fa-ban"></i> <span>@L("Cancel")</span>
                    </button>
                    <button type="submit" @*button-busy="vm.loading"*@ busy-text="@L("SavingWithThreeDot")"
                            class="btn btn-primary green" ng-click="vm.save()"
                            ng-disabled="orderForm.$invalid">
                        <i class="fa fa-save"></i> <span>@L("Save")</span>
                    </button>
                    <a class="btn btn-circle btn-icon-only btn-default fullscreen" href="javascript:;"> </a>
                </div>
            </div>
            <div class="portlet-body form">
                <form role="form" class="form-horizontal " novailated
                      name="orderForm"
                      novalidate>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label class="col-md-3 control-label">物质编码</label>
                                <div class="col-md-9">
                                    <input type="text"
                                           placeholder="number" class="form-control" required
                                           ng-model="vm.order.number" />
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label class="col-md-3 control-label">检测地点</label>
                                <div class="col-md-9">
                                    <input type="text" placeholder="address" class="form-control"
                                           ng-model="vm.order.address" />
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label class="col-md-3 control-label">不确定度</label>
                                <div class="col-md-9">
                                    <input type="text" placeholder="caliU" class="form-control"
                                           ng-model="vm.order.caliU" />
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label class="col-md-3 control-label">有效日期</label>
                                <div class="col-md-9">
                                    <input type="text" placeholder="caliValidateDate" class="form-control" required
                                           ng-model="vm.order.caliValidateDate" />
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label class="col-md-3 control-label">检测要素</label>
                                <div class="col-md-9">
                                    <select class="form-control" size="8"
                                            ng-model="vm.selectedMeteor"
                                            ng-options=" meteor as meteor for meteor in vm.meteors">
                                        <option value="" select hidden>请选择要素</option>
                                        <option ng-if="!vm.meterors">系统中尚无一个检测项！</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label class="col-md-3 control-label">检测项目</label>
                                <div class="col-md-9">
                                    <select class="form-control" size="8" required
                                            ng-model="vm.order.checkType_ID"
                                            ng-options=" checkType.id as checkType.checkName for checkType in vm.checkTypes | filter:{ meteor:vm.selectedMeteor}">
                                        <option value="" select hidden>请选择检测项目</option>
                                        <option ng-if="!vm.checkTypes">无相关检测项！</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                    </div>
                    <pre>{{vm.order}}</pre>
                    <pre>{{vm.instrumentsWithTCount}}</pre>
                    <!-- BEGIN 检测项目列表 -->
                    <div class="row col-md-offset-1">
                        <div class="table-scrollable table-scrollable-borderless">
                            <table class="table table-hover table-light ">
                                <thead>
                                    <tr class="uppercase">
                                        <th> </th>
                                        <th>物质编码</th>
                                        <th>检测地点</th>
                                        <th>不确定度</th>
                                        <th>有效日期</th>
                                        <th>检测项目</th>
                                    </tr>
                                </thead>
                                <tr ng-repeat="item in vm.instrumentTests">
                                    <td>{{$index+1}}</td>
                                    <td><span class="bold font-green-haze">{{item.number}}</span></td>
                                    <td>{{item.address}}</td>
                                    <td>{{item.caliU}}</td>
                                    <td>{{item.caliValidateDate}}</td>
                                    <td><a href="javascript:;" class="primary-link">{{item.checkType}}</a></td>
                                </tr>
                            </table>
                        </div>
                    </div>
                    <!-- BEGIN 检测项目列表 -->
                </form>
            </div>
        </div>
        <!-- BEGIN 设备列表 -->
        <div class="col-md-4">
            <div class="mt-element-list">
                <div class="mt-list-head list-simple ext-1 font-white bg-blue-chambray">
                    <div class="list-head-title-container">
                        <div class="list-date">12/27, 2018</div>
                        <h3 class="list-title">仪器列表-ReceiveId:{{vm.receiveId}}</h3>
                    </div>
                </div>
                <div class="mt-list-container list-simple ext-1 group">
                    <a class="list-toggle-container" data-toggle="collapse" href="!#completed-simple" aria-expanded="false">
                        <div class="list-toggle done">
                            已分配检测项目
                            <span class="badge badge-default pull-right bg-white font-green bold">{{vm.tyCount_1}}</span>
                        </div>
                    </a>
                    <div class="panel-collapse collapse in" id="completed-simple">
                        <ul>
                            <li class="mt-list-item done"
                                @*Exp:filter:{id: player_id, name:player_name} | filter:ageFilter*@
                                ng-repeat="item in vm.instrumentsWithTCount| filter:countFilter"
                                ng-click="vm.getInTsts(item.id)">
                                <div class="list-icon-container">
                                    <i class="icon-check"></i>
                                </div>
                                <div class="list-datetime"> {{item.model}} </div>
                                <div class="list-item-content">
                                    <h3 class="uppercase">
                                        <a href="javascript:;" style="text-decoration: none;">
                                        {{item.name}}{{item.sn}}({{item.checkTypeCount}})
                                        </a>
                                    </h3>
                                </div>
                            </li>
                        </ul>
                    </div>
                    <a class="list-toggle-container" data-toggle="collapse" href="!#pending-simple" aria-expanded="true">
                        <div class="list-toggle uppercase">
                            未分配
                            <span class="badge badge-default pull-right bg-white font-dark bold">{{vm.tyCount_0}}</span>
                        </div>
                    </a>
                    <div class="panel-collapse collapse" id="pending-simple">
                        <ul>
                            <li class="mt-list-item done"
                                ng-repeat="item in vm.instrumentsWithTCount | filter:{ checkTypeCount:0 }"
                                ng-click="vm.order.receiveInstrument_ID=item.id;vm.instrumentTests = [];">
                                <div class="list-icon-container">
                                    <i class="icon-ban"></i>
                                </div>
                                <div class="list-datetime"> {{item.model}} </div>
                                <div class="list-item-content">
                                    <h3 class="uppercase">
                                        {{item.name}} {{item.sn}} ({{item.checkTypeCount}})
                                    </h3>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <!-- END 设备列表 -->
    </div>
</div>
