<div ng-controller="common.views.BD.reciveOrder.index as vm">
    <!-- BEGIN PAGE BAR -->
    <div class="page-bar">
        @*<div ncy-breadcrumb></div>*@
        <ul class="page-breadcrumb">
            <li>
                <a href="index.html">首页</a>
                <i class="fa fa-angle-right"></i>
            </li>
            <li>
                <span>送检单</span>
            </li>
        </ul>
    </div>
    <!-- END PAGE BAR -->
    <div class="row">
        <div class="col-md-12">
            @*<div class="portlet light bordered" id="form_wizard_1">*@
            @*<div class="portlet-body form">*@
            <div class="form">
                <div class="form-horizontal">
                    <ul class="nav nav-pills nav-justified steps">
                        <li>
                            <a ui-sref-active="active" ui-sref=".order({orderId:5})" class="step">
                                <span class="number"> 1 </span>
                                <span class="desc">
                                    <i class="fa fa-check"></i> 单位信息
                                </span>
                            </a>
                        </li>
                        <li>
                            <a ui-sref-active="active" ui-sref=".ordItems({orderId:1})" class="step">
                                <span class="number"> 2 </span>
                                <span class="desc">
                                    <i class="fa fa-check"></i> 仪器登记
                                </span>
                            </a>
                        </li>
                        <li>
                            <a ui-sref-active="active" ui-sref=".checkItems" class="step active">
                                <span class="number"> 3 </span>
                                <span class="desc">
                                    <i class="fa fa-check"></i> 设置检查项
                                </span>
                            </a>
                        </li>
                        <li>
                            <a ui-sref-active="active" ui-sref=".print" class="step">
                                <span class="number"> 4 </span>
                                <span class="desc">
                                    <i class="fa fa-check"></i> 挑选打印
                                </span>
                            </a>
                        </li>
                    </ul>
                    <div id="bar" class="progress progress-striped" role="progressbar">
                        <div class="progress-bar progress-bar-success"> </div>
                    </div>
                    <!--开始导航-->
                    <ui-view></ui-view>
                </div>  <!--结束导航-->
            </div>

        </div>
    </div>
