<form>
<h3 class="block">填写单位信息</h3>
<div class="form-group">
    <label class="control-label col-md-3">
        单位名称
        <span class="required"> * </span>
    </label>
    <div class="col-md-4">
        <ng-select ng-model="vm.selectedUnit"
                   set-by-id="true"
                   show-as="unitName"
                   search-not-found="没有对应单位信息"
                   searchable="true"
                   options="units">
        </ng-select>
    </div>
</div>
<div class="form-group">
    <label class="control-label col-md-3">
        单位地址
    </label>
    <div class="col-md-4">
        <input type="text" class="form-control" name="address" readonly
               ng-model="vm.selectedUnit.address" />
        <span class="help-block">  </span>
    </div>
</div>
<div class="form-group">
    <label class="control-label col-md-3">
        联系人
        <span class="required"> * </span>
    </label>
    <div class="col-md-4">
        <input type="text" class="form-control" name="contact" required
               ng-model="vm.selectedUnit.contact" />
        <span class="help-block">  </span>
    </div>
</div>
<div class="form-group">
    <label class="control-label col-md-3">
        电话
        <span class="required"> * </span>
    </label>
    <div class="col-md-4">
        <input type="tel" class="form-control" name="tel"
               ng-model="vm.selectedUnit.contactTel" />
        <span class="help-block">  </span>
    </div>
</div>
<div class="form-group">
    <label class="control-label col-md-3">
        送检快递单号
        <span class="required"> </span>
    </label>
    <div class="col-md-4">
        <input type="text" class="form-control" name="mark" />
        <span class="help-block">  </span>
    </div>
</div>
</form>
