<form ng-controller="common.views.BD.reciveOrder.order as vm"
      novailated 
      name="orderForm" 
      role="form" 
      novalidate class="form-validation">
    <h3 class="block">填写单位信息</h3>
    <div class="form-group">
        <label class="control-label col-md-3">
            单位名称
            <span class="required"> * </span>
        </label>
        <div class="col-md-4">
            @*<ui-select ng-model="selected.value">
            <ui-select-match>
                <span ng-bind="$select.selected.name"></span>
            </ui-select-match>
            <ui-select-choices repeat="item in (itemArray | filter: $select.search) track by item.id">
                <span ng-bind="item.name"></span>
            </ui-select-choices>
        </ui-select>*@
            <ui-select ng-model="vm.selectedUnit" ng-change="vm.changeUnit()">
                <ui-select-match>
                    <span ng-bind="$select.selected.unitName"></span>
                </ui-select-match>
                <ui-select-choices repeat="item in (units | filter: $select.search) track by item.id">
                    <span ng-bind="item.unitName"></span>
                </ui-select-choices>
            </ui-select>
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-md-3">
            单位地址
        </label>
        <div class="col-md-4">
            <input type="text" class="form-control" name="address" readonly
                   ng-model="vm.selectedUnit.address" />
            <span class="help-block">  </span>
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-md-3">
            联系人
            <span class="required"> * </span>
        </label>
        <div class="col-md-4">
            <input type="text" class="form-control" name="contact" required
                   ng-model="vm.order.contact" />
            <span class="help-block">  </span>
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-md-3">
            电话
            <span class="required"> * </span>
        </label>
        <div class="col-md-4">
            <input type="tel" class="form-control" name="contactTel" reqquired
                   ng-model="vm.order.contactTel" />
            <span class="help-block">  </span>
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-md-3">
            送检快递单号
            <span class="required"> </span>
        </label>
        <div class="col-md-4">
            <input type="text" class="form-control" name="expressDelivery" 
                   ng-model="vm.order.expressDelivery"/>
            <span class="help-block">  </span>
        </div>
    </div>
    <pre>vm.order:{{vm.order}}</pre>
    <pre>vm.selectedUnit:{{vm.selectedUnit}}</pre>
    <div class="form-actions">
        <div class="row">
            <div class="col-md-offset-3 col-md-9">
                <button ng-disabled="vm.saving" type="button" class="btn btn-default" ng-click="vm.goPrint()">
                                <i class="fa fa-ban"></i> <span>@L("Cancel")</span>
                            </button>
                <button type="submit" button-busy="vm.saving" busy-text="@L("SavingWithThreeDot")" 
                        class="btn btn-primary green" ng-click="vm.save()" 
                        ng-disabled="orderForm.$invalid">
                <i class="fa fa-save"></i> <span>@L("Save")</span></button>
            </div>
        </div>
    </div>
</form>
