<h3 class="block">仪器登记列表</h3>
<form class="row">
    <div class="col-md-7 col-sm-12">
        <div class="form-group col-md-6">
            <label class="control-label col-md-5">
                仪器出厂编号
                <span class="required"> * </span>
            </label>
            <div class="col-md-7">
                <input type="text" class="form-control input-lg" name="fullname" />
            </div>
        </div>
        <div class="form-group col-md-6">
            <label class="control-label col-md-5">
                仪器名称
                <span class="required"> * </span>
            </label>
            <div class="col-md-7">
                <input type="text" class="form-control input-lg" name="phone" />
            </div>
        </div>
        <div class="form-group col-md-6">
            <label class="control-label col-md-5">
                仪器型号
            </label>
            <div class="col-md-7">
                <input type="text" class="form-control input-lg" name="address" />
            </div>
        </div>
        <div class="form-group col-md-6">
            <label class="control-label col-md-5">
                准确度等级
            </label>
            <div class="col-md-7">
                <input type="text" class="form-control input-lg" name="city" />
            </div>
        </div>
        <div class="form-group col-md-6">
            <label class="control-label col-md-5">
                测量范围
            </label>
            <div class="col-md-7">
                <input type="text" class="form-control" name="city" />
            </div>
        </div>
        <div class="form-group col-md-6">
            <label class="control-label col-md-5">
                分辨力
            </label>
            <div class="col-md-7">
                <input type="text" class="form-control" name="city" />
            </div>
        </div>
        <div class="form-group col-md-6">
            <label class="control-label col-md-5">检测要素</label>
            <div class="col-md-7">
                <select name="country" id="country_list" class="form-control">
                    <option value=""></option>
                    <option value="AF">湿</option>
                    <option value="AL">温</option>
                    <option value="DZ">温湿</option>
                    <option value="AS">气压</option>
                    <option value="AD">辐射</option>
                </select>
            </div>
        </div>
        <div class="form-group col-md-6">
            <label class="control-label col-md-5">检测类型</label>
            <div class="col-md-7">
                <select name="country" id="country_list" class="form-control">
                    <option value=""></option>
                    <option value="AF">湿度检定</option>
                    <option value="AL">温度检测</option>
                    <option value="DZ">温湿校验</option>
                    <option value="AS">气压检定</option>
                    <option value="AD">辐射检测</option>
                </select>
            </div>
        </div>
        <div class="form-group col-md-6">
            <label class="control-label col-md-5">
                制造商
            </label>
            <div class="col-md-7">
                <input type="text" class="form-control" name="city" />
            </div>
        </div>
        <div class="form-group col-md-6">
            <label class="control-label col-md-5">
                制造商
            </label>
            <div class="col-md-7">
                <input type="text" class="form-control" name="city" />
            </div>
        </div>
        <div class="form-group col-md-6">
            <label class="control-label col-md-5">
                返样单号
            </label>
            <div class="col-md-7">
                <input type="text" class="form-control" name="city" />
            </div>
        </div>
        <div class="form-group col-md-6">
            <label class="control-label col-md-5">
                站点信息
            </label>
            <div class="col-md-7">
                <input type="text" class="form-control" name="city" />
            </div>
        </div>
    </div>
    <div class="col-md-5 col-sm-12">
        <div class="portlet light bordered" style="min-height:438px">
            <div class="portlet-title">
                <div class="caption">
                    <i class="icon-share font-dark hide"></i>
                    <span class="caption-subject font-dark bold uppercase">接收单号：123456</span>
                </div>
                
            </div>
            <div class="portlet-body">
                <div class="scroller" style="height: 300px;" data-always-visible="1" data-rail-visible="0">
                    <ul class="feeds">
                        <li>
                            <div class="col1">
                                <div class="cont">
                                    <div class="cont-col1">
                                        <div class="label label-sm bg-blue">
                                            <i class="fa fa-check"></i>
                                        </div>
                                    </div>
                                    <div class="cont-col2">
                                        <div class="desc">
                                            You have 4 pending tasks.
                                            <span class="label label-sm label-warning ">
                                                Take action
                                                <i class="fa fa-share"></i>
                                            </span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col2">
                                <div class="date"> Just now </div>
                            </div>
                        </li>
                        <li>
                            <a href="javascript:;">
                                <div class="col1">
                                    <div class="cont">
                                        <div class="cont-col1">
                                            <div class="label label-sm bg-blue">
                                                <i class="fa fa-bar-chart-o"></i>
                                            </div>
                                        </div>
                                        <div class="cont-col2">
                                            <div class="desc"> Finance Report for year 2013 has been released. </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col2">
                                    <div class="date"> 20 mins </div>
                                </div>
                            </a>
                        </li>
                        <li>
                            <a href="javascript:;">
                                <div class="col1">
                                    <div class="cont">
                                        <div class="cont-col1">
                                            <div class="label label-sm bg-blue">
                                                <i class="fa fa-bar-chart-o"></i>
                                            </div>
                                        </div>
                                        <div class="cont-col2">
                                            <div class="desc"> Finance Report for year 2013 has been released. </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col2">
                                    <div class="date"> 20 mins </div>
                                </div>
                            </a>
                        </li>
                        <li>
                            <div class="col1">
                                <div class="cont">
                                    <div class="cont-col1">
                                        <div class="label label-sm label-danger">
                                            <i class="icon-ban"></i>
                                        </div>
                                    </div>
                                    <div class="cont-col2">
                                        <div class="desc"> You have 5 pending membership that requires a quick review. </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col2">
                                <div class="date"> 24 mins </div>
                            </div>
                        </li>
                        <li>
                            <div class="col1">
                                <div class="cont">
                                    <div class="cont-col1">
                                        <div class="label label-sm bg-blue">
                                            <i class="fa fa-shopping-cart"></i>
                                        </div>
                                    </div>
                                    <div class="cont-col2">
                                        <div class="desc">
                                            New order received with
                                            <span class="label label-sm label-success"> Reference Number: DR23923 </span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col2">
                                <div class="date"> 30 mins </div>
                            </div>
                        </li>
                        <li>
                            <div class="col1">
                                <div class="cont">
                                    <div class="cont-col1">
                                        <div class="label label-sm bg-blue">
                                            <i class="fa fa-user"></i>
                                        </div>
                                    </div>
                                    <div class="cont-col2">
                                        <div class="desc"> You have 5 pending membership that requires a quick review. </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col2">
                                <div class="date"> 24 mins </div>
                            </div>
                        </li>
                        <li>
                            <div class="col1">
                                <div class="cont">
                                    <div class="cont-col1">
                                        <div class="label label-sm bg-blue">
                                            <i class="fa fa-bell-o"></i>
                                        </div>
                                    </div>
                                    <div class="cont-col2">
                                        <div class="desc">
                                            Web server hardware needs to be upgraded.
                                            <span class="label label-sm label-default "> Overdue </span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col2">
                                <div class="date"> 2 hours </div>
                            </div>
                        </li>
                        <li>
                            <a href="javascript:;">
                                <div class="col1">
                                    <div class="cont">
                                        <div class="cont-col1">
                                            <div class="label label-sm label-default">
                                                <i class="fa fa-briefcase"></i>
                                            </div>
                                        </div>
                                        <div class="cont-col2">
                                            <div class="desc"> IPO Report for year 2013 has been released. </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col2">
                                    <div class="date"> 20 mins </div>
                                </div>
                            </a>
                        </li>
                        <li>
                            <div class="col1">
                                <div class="cont">
                                    <div class="cont-col1">
                                        <div class="label label-sm bg-blue">
                                            <i class="fa fa-check"></i>
                                        </div>
                                    </div>
                                    <div class="cont-col2">
                                        <div class="desc">
                                            You have 4 pending tasks.
                                            <span class="label label-sm label-warning ">
                                                Take action
                                                <i class="fa fa-share"></i>
                                            </span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col2">
                                <div class="date"> Just now </div>
                            </div>
                        </li>
                        <li>
                            <a href="javascript:;">
                                <div class="col1">
                                    <div class="cont">
                                        <div class="cont-col1">
                                            <div class="label label-sm label-danger">
                                                <i class="icon-check"></i>
                                            </div>
                                        </div>
                                        <div class="cont-col2">
                                            <div class="desc"> Finance Report for year 2013 has been released. </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col2">
                                    <div class="date"> 20 mins </div>
                                </div>
                            </a>
                        </li>
                        <li>
                            <div class="col1">
                                <div class="cont">
                                    <div class="cont-col1">
                                        <div class="label label-sm bg-blue">
                                            <i class="fa fa-user"></i>
                                        </div>
                                    </div>
                                    <div class="cont-col2">
                                        <div class="desc"> You have 5 pending membership that requires a quick review. </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col2">
                                <div class="date"> 24 mins </div>
                            </div>
                        </li>
                        <li>
                            <div class="col1">
                                <div class="cont">
                                    <div class="cont-col1">
                                        <div class="label label-sm bg-blue">
                                            <i class="fa fa-shopping-cart"></i>
                                        </div>
                                    </div>
                                    <div class="cont-col2">
                                        <div class="desc">
                                            New order received with
                                            <span class="label label-sm label-success"> Reference Number: DR23923 </span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col2">
                                <div class="date"> 30 mins </div>
                            </div>
                        </li>
                        <li>
                            <div class="col1">
                                <div class="cont">
                                    <div class="cont-col1">
                                        <div class="label label-sm bg-blue">
                                            <i class="fa fa-user"></i>
                                        </div>
                                    </div>
                                    <div class="cont-col2">
                                        <div class="desc"> You have 5 pending membership that requires a quick review. </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col2">
                                <div class="date"> 24 mins </div>
                            </div>
                        </li>
                        <li>
                            <div class="col1">
                                <div class="cont">
                                    <div class="cont-col1">
                                        <div class="label label-sm bg-blue">
                                            <i class="fa fa-bell-o"></i>
                                        </div>
                                    </div>
                                    <div class="cont-col2">
                                        <div class="desc">
                                            Web server hardware needs to be upgraded.
                                            <span class="label label-sm label-default "> Overdue </span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col2">
                                <div class="date"> 2 hours </div>
                            </div>
                        </li>
                        <li>
                            <a href="javascript:;">
                                <div class="col1">
                                    <div class="cont">
                                        <div class="cont-col1">
                                            <div class="label label-sm bg-blue">
                                                <i class="fa fa-briefcase"></i>
                                            </div>
                                        </div>
                                        <div class="cont-col2">
                                            <div class="desc"> IPO Report for year 2013 has been released. </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col2">
                                    <div class="date"> 20 mins </div>
                                </div>
                            </a>
                        </li>
                    </ul>
                </div>
                <div class="scroller-footer">
                    <div class="btn-arrow-link pull-right">
                        <a href="javascript:;">查看全部--仪器管理</a>
                        <i class="icon-arrow-right"></i>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>

<div class="form-actions">
    <div class="row">
        <div class="col-md-offset-3 col-md-9">
            <a href="#" class="btn default button-previous">
                <i class="fa fa-angle-left"></i> 上一步
            </a>
            <a href="javascript:;" class="btn btn-outline green button-next">
                下一步
                <i class="fa fa-angle-right"></i>
            </a>
            <a href="javascript:;" class="btn green button-submit">
                提交
                <i class="fa fa-check"></i>
            </a>
        </div>
    </div>

</div>

